<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello There</h1>
    <form id="SMSFORM" action="http://localhost:8080/api/v1/sms" method="post">
        <input type="number" id="Phone" placeholder="Phone Number"><br><br>
        <input type="text" id="msg" placeholder="Message">
        <button id="submit" href="successpage.html">Send SMS</button>
    </form>
</body>
</html>\